h3(id="food-name")
ul(id="ingredients") Ingredients
ul(id="instructions") Instructions

input(type="text" id="name-text")
h4 Ingredients 
textarea(name="ingredients-text", cols="30" rows="10" id="ingredients-text")
button(id="add-ingredient" type="button") Add ingredient 
h4 instructions 
textarea(name="instructions-text", cols="30" rows="10" id="instructions-text")
button(id="add-instruction" type="button") Add instruction 
button(id="submit" type="submit") Submit 

h4 Add file
input(type="file" id="image-input" accept="image/png, image/jpeg" multiple)
